<div class="section-product">
  <a href="/products/details-product/<%= product.id %>">
    <img
      class="section-product__img"
      src="/images/products/<%= product.image %>"
      alt="<%= product.name %>"
    />
  </a>
  <h3><%= product.name %></h3>
  <p><%= product.price %></p>
</div>
