<!-- Product-detail -->
<div class="breadcrumb">
  <a href="/">Home</a> /
  <span><%= product.name %></span>
</div>
<div class="container-product">
  <div class="container-product__img">
    <img
      src="/images/products/<%= product.image %>  "
      alt="<%= product.name %>"
    />
  </div>
  <div class="container-product__info">
    <h3><%= product.name %></h3>
    <p><%= product.price %></p>
    <h4>Color : <%= product.color %></h4>
    <section class="container-product__colors">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="128"
        height="25"
        viewBox="0 0 128 25"
        fill="none"
      >
        <rect
          width="24.2745"
          height="24.2745"
          rx="12.1373"
          fill="#FDBC41"
          fill-opacity="0.5"
        />
        <rect
          x="0.5"
          y="0.5"
          width="23.2745"
          height="23.2745"
          rx="11.6373"
          stroke="#15122F"
          stroke-opacity="0.5"
        />
        <rect
          x="33.9844"
          width="24.2745"
          height="24.2745"
          rx="12.1373"
          fill="#FD2C2C"
          fill-opacity="0.5"
        />
        <rect
          x="34.4844"
          y="0.5"
          width="23.2745"
          height="23.2745"
          rx="11.6373"
          stroke="#15122F"
          stroke-opacity="0.5"
        />
        <rect
          x="69.1824"
          width="24.2745"
          height="24.2745"
          rx="12.1373"
          fill="#03C819"
          fill-opacity="0.5"
        />
        <rect
          x="69.6824"
          y="0.5"
          width="23.2745"
          height="23.2745"
          rx="11.6373"
          stroke="#15122F"
          stroke-opacity="0.5"
        />
        <rect
          x="103.167"
          width="24.2745"
          height="24.2745"
          rx="12.1373"
          fill="#B8A6D2"
          fill-opacity="0.5"
        />
        <rect
          x="103.667"
          y="0.5"
          width="23.2745"
          height="23.2745"
          rx="11.6373"
          stroke="#15122F"
          stroke-opacity="0.5"
        />
      </svg>
    </section>
    <section class="container-product__thumbnails">
      <img src="/images/products/<%= product.image %>" alt="" />
      <img
        src="/images/products/<%= product.image %>"
        alt="producto-1-vitrina-1-color-rojo"
      />
      <img
        src="/images/products/<%= product.image %>"
        alt="producto-1-vitrina-1-color-verde"
      />
      <img
        src="/images/products/<%= product.image %>"
        alt="producto-1-vitrina-1-color-lila"
      />
    </section>
    <h6>Please select your size:</h6>
    <div class="container-product__size-buttons">
      <button class="size-button"><%= product.sizeName %></button>
    </div>
    <div class="container-product__shop-buttons">
      <button class="shop-button">COMPRAR AHORA</button>
    </div>
    <div class="container-product__admin-buttons">
      <button
        onclick="window.location.href='/products/create/'"
        class="admin-button-edit"
      >
        Crear
      </button>
      <button
        onclick="window.location.href='/products/edit/<%= product.id %>'"
        class="admin-button-edit"
      >
        Editar
      </button>
      <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
        <button class="admin-button-delete">Eliminar</button>
      </form>
    </div>
  </div>
</div>
