<!-- Vitrina numero 2 ofertas Sale Products-->
<section class="section-title__container">
    <h2>Ofertas</h2>
</section class="section">
</section class="section">
<section class="section-product__container">
    <% inOffers.forEach(item => { %>
        <div class="section-product">
            <a href="/products/details-product/<%= item.id %>">
                <img class="section-product__img" src="/images/products/<%= item.image %>" alt="<%= item.name %>">
            </a>
            <h3><%= item.name %></h3>
            <p><%= item.price %></p>
        </div>
    <% }) %>
    <!-- <button class="product-slider__button" id="nextButton2"><img src="/images/arrow-right-solid.svg" alt="next-image"></button> -->
</section>