<!DOCTYPE html>

<html lang="es">

<head>
    <%- include("partials/head") %>
        <title>Carrito de compras</title>
</head>

<!-- Cart Shopping -->
<div class="cart-container">
    <span class="drawer-overlay"></span>
    <div class="cart-header">
        <div class="img-log">
            <a href="/"><img src="/images/logo-M.png" class="img-logo" alt="logo-M"></a>
        </div>
        <div>
            <strong class="cart-title">Carrito de compras</strong>
        </div>
        <div class="cart-shop btn-open">
            <a href="#"><span><i class="fa-solid fa-cart-shopping"></i></span></a>
        </div>
    </div>
    <div class="content">
        <div class="cart-box">
            <div class="cart-img">
                <img src="/images/products/producto-1-vitrina-1.jpg  " class="img-product" alt="">
            </div>
            <div class="detail-product">
                <div class="cart-product-title"><strong>Campera Univesitaria</strong></div>
                <div class="cart-size">
                    <label for="sizes-select">Talla :</label>
                    <select name="tallas" class="sizes-select">
                        <option value="">Elija</option>
                        <option value="x-large">XL</option>
                        <option value="large">L</option>
                        <option value="medium">M</option>
                        <option value="small">S</option>
                        <option value="x-small">XS</option>
                    </select>
                </div>
                <div class="cart-color">
                    <label for="color-select">Color :</label>
                    <select name="color" class="color-select">
                        <option value="">Elija</option>
                        <option value="amarilli">Amarrillo</option>
                        <option value="rojo">Rojo</option>
                        <option value="verde">Verde</option>
                        <option value="azul">Azul</option>
                        <option value="negro">Negro</option>
                    </select>
                </div>
                <div class="cart-product-quantity-group">
                    <span>Cantidad : </span>
                    <span class="cart-product-quantity">
                        <span class="minus">-</span>
                        <span class="num">1</span>
                        <span class="plus">+</span>
                    </span>
                </div>
                <i class="fa-solid fa-trash cart-remove"></i>
            </div>
        </div>
    </div>
    <div class="cart-fast">
        <form action="/cart" method="post">
            <div class="cart-subtotal-container">
                <span>Subtotal :</span>
                <span class="cart-price">$80.000</span>
            </div>
            <div class="cart-note">
                <span>Envío : </span>
                <span>Por calcular</span>
            </div>
            <div class="cart-total-container">
                <span>Total :</span>
                <span class="cart-total">$80.000</span>
            </div>
            <div class="cart-buttons_container">
                <button type="submit" class="cart-checkout">Comprar Ahora</button>
                <button type="button" class="cart-follow"><a href="/">Seguir Comprando</a></button>
            </div>

        </form>
    </div>
</div>
<body>
    <!-- Header and NavBar -->
    <header class="header-container"><%- include("partials/header") %></header>
    <!-- Main Content -->
    <main class="container">
        <!-- Banner uno principal -->
        <%- include("partials/banner-one") %>
            <!-- Vitrina numero 1 (Feautured Products) -->
            <%- include('partials/featured-products') %>
                <!-- Banner dos secundario -->
                <%- include('partials/banner-two') %>
                    <!-- Vitrina numero 2 ofertas Sale Products-->
                    <%- include('partials/sale-products.ejs') %>
    </main>

    <!-- Footer -->
    <footer class="footer"><%- include("partials/footer") %></footer>

    <script src="/js/popup.js"></script>
    <!-- <script src="/js/index.js"></script> -->
</body>

</html>