<!DOCTYPE html>

<html lang="es">
<head>
    <%- include("partials/head") %>

    <title>Maunganui Tienda</title>
</head>

<body>
    <!-- Header and NavBar -->
    <header class="header-container">
        <%- include("partials/header") %>
        <style>
            .product-list{
                display: flex;
                flex-wrap: wrap;
            }
            .product-item{
                position: relative;
                display: flex;
                flex-direction: column;
                gap:15px;
                margin: 30px;
            }
        </style>
    </header>
    <main>
        <div class="product-list">
            <% products.forEach(product => { %>
                <div class="product-item">
                    <div class="product-item-image">
                        <a href="products/<%= product.id %>">
                            <img src="/images/products/<%= product.image %>" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <p><%= product.name %></p>
                        <% if (product.discount) { %>
                            <s>$<%= product.price %></s>
                            <p><%= product.discount %>% OFF</p>
                            <p><%= product.priceWithDiscount %></p>
                        <%  } else { %>
                            <%= product.price %>%
                         <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>
    <!-- Footer -->
    <footer class="footer">
        <%- include("partials/footer") %>
    </footer>

    <script src="/js/index.js"></script>
</body>
</html>
