<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <div class="sidebar">
        <h2>Perfil de Usuario</h2>
        <button>Mis Compras</button>
        <button>Carrito</button>
        <button>Medios de Pago</button>
        <button>Editar Mi Perfil</button>
        <button class="logout-button">Salir</button>
       <!--<div class="profile-picture">
            <label for="file-input">
                <img src="https://via.placeholder.com/150" alt="Foto de perfil" id="profile-pic">
                <div>Cambiar Foto de Perfil</div>
            </label>
            <input type="file" id="file-input" accept="image/*" onchange="loadImage(event)">
        </div>--> 
    </div>
    <div class="content">
        <!-- Contenido principal aquí -->
    </div>
    <script src="script.js"></script>
</body>
=======

<head>
    <%- include("partials/head") %>
        <title>Search Result</title>
</head>

<body>
    <header class="header-container"><%- include("partials/header") %></header>
    <main class="main-container">
        <div class="breadcrumb">
            <a href="/">Perfil del usuario: </a> /
            <span>Nombre<%= /* user.name */ %></span>
        </div>
        <div class="user-info__container">
            <section class="user-info__leftColumn">
                <h2>Perfil de usuario</h2>
                <ul>
                    <li><a href="#">Mis compras (10 <%= /* user.name */ %>)</a></li>
                    <li><a href="#">Carrito</a></li>
                    <li><a href="#">Medios de pago</a></li>
                </ul>
                <hr>
                <button><i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180" style="color: #ffffff;"></i>
                    <a href="/">Salir</a></button>
            </section>
            <section class="user-info__rightColumn">
                <div class="user-info__edition-1">
                    <h2>Editar perfil</h2>
                    <p class="breadcrumb">Edita tu información personal:</p>
                </div>
                <div class="user-info__edition-2">
                        <div class="photo-user">
                            <!-- <img src="/images/products/default.png" alt="default.png"> -->
                            <div>
                                <input class="" type="file" name="image" id="image">
                            </div>
                            <label for="image">Selecciona tu imagen de perfil</label>
                        </div>

                    <section>
                            <form class="info-user__profile" action="">
                                <div>
                                    <label for="name">Nombre</label>
                                    <input placeholder="Tu Nombre" type="text" name="name" class="style-box">
                                </div>
                                <div>
                                    <label for="secondName">Apellido</label>
                                    <input placeholder="Tu Apellido" type="text" name="secondName" class="style-box">
                                </div>
                                <div>
                                    <button>Actualizar</button>
                                </div>
                            </form>
                    </section>
                </div>
                    <form  class="user-info__edition-3" action="">
                        <div class="user-info__form">
                            <div class="user-info_">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="style-box" placeholder="Tu Email">
                            </div>
                            <div class="user-info_">
                                <label for="password">Contraseña</label>
                                <input type="password" name="password" class="style-box" placeholder="Tu Contraseña">
                            </div>
                            <div class="user-info_">
                                <label for="phone">Teléfono</label>
                                <input type="tel" name="phone" class="style-box" placeholder="Tu Teléfono">
                            </div>
                        </div>
                        <section>
                            <button>Actualizar</button>
                            <button>Actualizar telefono</button>
                        </section>
                    </form>
            </section>
        </div>
        </div>
    </main>
    <footer class="footer"><%- include("partials/footer") %></footer>
</body>


</html>