<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head") %>
    <title>Maunganui Tienda</title>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/js/registerValidation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <!-- Header and NavBar -->
    <header class="header-container">
      <%- include("../partials/header") %>
    </header>

    <div class="sectregis">
      <section>
        <img
          class="sectregis-img-mb"
          src="/images/Banner-register-mobile.jpg"
          alt="Banner-register-mobile.jpg"
        />
        <img
          class="sectregis-img-dt"
          src="/images/Banner-formulario-registro.jpg"
          alt="Banner-register-mobile.jpg"
        />
      </section>

      <section class="form-regis" id="popup-register">
        <h2 class="form-regis-title">REGISTRATE</h2>

        <br />

        <form
          class="form-inputs"
          action="/users/register"
          method="POST"
          id="form"
        >
          <label for="first_name"> Nombre* </label>
          <input class="style-box_register" type="text" name="first_name"
          id="first_name" value="<%= oldData ? oldData.first_name : "" %>"/> <%
          if (errors && errors.first_name) { %>
          <p class="errorstyle"><%= errors.first_name.msg %></p>
          <% } %>
          <span class="errorstyle" id="first_nameError"></span>

          <label for="last_name">Apellido* </label>
          <input class="style-box_register" type="text" name="last_name"
          id="last_name" value="<%= oldData ? oldData.last_name : "" %>"/> <% if
          (errors && errors.last_name) { %>
          <p class="errorstyle"><%= errors.first_name.msg %></p>
          <% } %>
          <span class="errorstyle" id="last_nameError"></span>

          <label for="phone"> Teléfono: </label>
          <input class="style-box_register" type="number" name="phone"
          id="phone" value="<%= oldData ? oldData.phone : "" %>"/> <% if (errors
          && errors.phone) { %>
          <p><%= errors.phone.msg %></p>
          <% } %>
          <span class="errorstyle" id="phoneError"></span>

          <label for="email"> E-mail* </label>
          <input class="style-box_register" type="email" name="email" id="email"
          value="<%= oldData ? oldData.email : "" %>"/> <% if (errors &&
          errors.email) { %>
          <p class="errorstyle"><%= errors.email.msg %></p>
          <% } %>
          <span class="errorstyle" id="emailError"></span>

          <label for="password"> Contraseña* </label>
          <input
            class="style-box_register"
            type="password"
            name="password"
            id="password"
          />
          <% if (errors && errors.password) { %>
          <p class="errorstyle"><%= errors.password.msg %></p>
          <% } %>
          <span class="errorstyle" id="passwordError"></span>

          <label for="password_re"> Repetir contraseña: </label>
          <input
            class="style-box_register"
            type="password"
            name="password_re"
            id="password_re"
          />
          <% if (errors && errors.password_re) { %>
          <p class="errorstyle"><%= errors.password_re.msg %></p>
          <% } %>
          <span class="errorstyle" id="password_reError"></span>

          <div class="df-align-center">
            <button class="button" type="submit" class="button">GUARDAR</button>
          </div>
        </form>
      </section>
    </div>

    <footer class="footer"><%- include("../partials/footer") %></footer>
    <script src="/js/popup.js"></script>
  </body>
</html>
